# Object files
*.log
~*.docx

# Build results
newpage/
tmp/
topoimages/
XJReport/
visio/
.idea/
alex/
caches/
.svn/
/module/admin/Runtime/
/module/admin/Common/
/module/member/Runtime/
/api/Runtime/
/api/Admin/
ueditor/
module/home/home_old.html
a.html

.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

